.div{
    width:1000 px;
    height:300 px;
    color:white;
    margin:1000 px;
}
.box{
    background-color:darkgreen;
}
.yellow{
    color:orange;
    background:yellow;
}
.orange{
    color:white;
    background:orange;
}
.orange{
    color:white;
    background:orange;
}
.orange{
    color:white;
    background:orange;
}
.div{
    width:150px;
    height:150px;
    display:inline-block;
}
.one{
    background:green;
}
.two{
    background:green;
}
.div{
    width:1000 px;
    height:300 px;
    color:white;
    margin:1000 px;
}
.box{
    background-color:green;
    padding:5px;
}
.white{
    color:silver;
    background:white;
}
.orange{
    color:white;
    background:orange;
}
